@font-face {
    font-family: 'SendFlowers';
    src: url('../fonts/SendFlowers-Regular.eot');
    src: local('☺'), url('../fonts/SendFlowers-Regular.woff') format('woff'), url('../fonts/SendFlowers-Regular.ttf') format('truetype'), url('../fonts/SendFlowers-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    font-family: 'SendFlowers';
}

a, a:visited {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

ol {
    width: 100px;
    margin: auto;
}

ul {
    width: 100px;
    margin: auto;
}

li {
    list-style: none;
}

li::before {
    content: "*";
    font-size: 20px;
    color: #00FF00;
}

.beginer-page {
    width: 100%;
    background: rgb(94, 204, 255);
}

.description-block {
    width: 210ex;
    height: 100%;
    background: firebrick;
}

.list-links-block {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 85pc;
    background: rgba(143, 192, 192, 0.2);
}

.list-links-block li::before {
    content: "!!! ";
    font-size: 20px;
    color: #000;
}

.list-links-block a:hover {
    width: 100%;
    border-bottom: 1px solid #000;
}

.list-links-block::after {
    content: "";
    display: block;
    width: 100%;
    margin: 10px 0px 0px 0px;
    border-bottom: 1px solid black;
}

.paragraths-block {
    width: 85em;
    font-weight: 600;
    background: url("../img/task-04.png")50% 100%, 100% 100% no-repeat;
}

.paragraths-block::after {
    content: "";
    display: block;
    width: 100%;
    margin: 10px 0px 0px 0px;
    border: 1px solid black;
}

.tables-block {
    margin: auto;
    background: lightcoral;
}

table {
    margin: auto;
}

th, td {
    border: 1px solid black;
}

.tables-block::after {
    content: "";
    display: block;
    width: 100%;
    margin: 10px 0px 0px 0px;
    border: 1px solid black;
}

.image-block {
    width: 1350px;
    background: aqua;
}

img {
    display: block;
    margin: auto;
}

.image-block::after {
    content: "";
    display: block;
    width: 100%;
    margin: 10px 0px 0px 0px;
    border: 1px solid black;
}

.text-programm-block {
    width: 100%;
    background: #FF00FF;
}

.text-programm {
    width: 200px;
    margin: auto;

}

.text-programm pre {
    font-weight: 900;
}