@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima_Nova_Regular';
    src: url('../fonts/Proxima_Nova_Regular.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-width: 300px;
    height: 100%;
}

header {
    line-height: 45px;
    border-radius: 50% 0px 20px 0px;
}

svg {
    cursor: pointer;
}

.menu-field {
    background: #2f364a;
    width: calc(100% - 160px);
    height: 45px;
    justify-content: end;
    border-radius: 5px 0px 0px 0px;
}

.menu-field_list {
    list-style: none;
    flex-wrap: wrap;
    line-height: 14px;
}

.menu-field_list button {
    font-family: 'Proxima_Nova_Regular';
    text-decoration: none;
    background: none;
    color: #69738c;
    font-size: 13px;
    font-weight: 500;
    transition: 1s all;
}

.menu-field_list button:hover {
    color: #fff;
}

.menu-field_list__second_item {
    display: block;
    background: none;
    cursor: none;
    margin: 0px 15px 0px 15px;
}

.menu-field_list__third_item {
    margin-right: 20px;
}

.user-field {
    font-family: "Proxima_Nova_Regular";
    justify-content: space-evenly;
    background: #15a4fa;
    width: 160px;
    height: 45px;
    border-radius: 0px 5px 0px 0px;
}

.user-field_chart {
    background: none;
}

.user-field_avatar {
    width: 32px;
    height: 32px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #6eb5eb;
}

.user-name {
    font-size: 13px;
    color: #fff;
}

main {
    font-family: "Proxima_Nova_Regular";
    display: flex;
    width: 100%;
    height: calc(100%-90px);
}

h1 {
    font-size: 22px;
    font-family: "Proxima_Nova_Regular";
    color: #4f576d;
    margin: 30px 0px 0px 20px;
}

.main-content {
    width: 84.5%;
    height: 100%;
    background: #eef1f7;
}

.side-panel {
    width: 15.5%;
    background: #141824;
}

.side-panel div {
    box-shadow: 0px 1px #000;
}

.side-panel_add-book-block {
    background: #1f2637;
    width: 100%;
    margin-top: 5px;
    padding: 35px 20px 35px 20px;
}

.side-panel_add-book-block button {
    background: #f2795a;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.side-panel_add-book-block span {
    display: flex;
    align-items: center;
    font-size: 14px;
    border-radius: 4px;
    width: 100%;
    padding: 7px 10px 7px 15px;
}

.plus-chart {
    font-size: 16px;
    font-family: "FontAwesome";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    z-index: 38;
    transition: 1s all;
}

.side-panel_add-book-block button .plus-chart:hover {
    background: #fff;
    color: #4f576d;
}

.side-panel_options-library {
    background: #1f2637;
    width: 100%;
    margin-top: 5px;
}

.side-panel_options-library ul {
    width: 100%;
}

.side-panel_options-library li {
    width: 100%;
    color: #78829d;
}

.side-panel_options-library button {
    background: none;
    display: block;
    width: 100%;
}

.side-panel_options-library li span {
    font-family: "Proxima_Nova_Regular";
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 25px;
}

.side-panel_options-library li .chart {
    font-family: "FontAwesome";
    transition: 1s all;
}

.side-panel_options-library li .chart:hover {
    background: #15a4fa;
    color: #fff;
}

.side-panel_options-library button span span {
    padding: 10px 20px 10px 20px;
}

.side-panel_options-library .button-active, .button-active span {
    background: #15a4fa;
    color: #fff;
    transition: 1s all;
}

.book-chart {
    font-size: 14px;
    font-family: "FontAwesome";
    color: #78829D;
    z-index: 50;
}

.cart-chart {
    font-size: 14px;
    font-family: "FontAwesome";
    color: #78829D;
    z-index: 59;
}

.globuse-chart {
    font-size: 14px;
    font-family: "FontAwesome";
    color: #78829D;
    z-index: 55;
}

.wishist-chart {
    font-size: 16px;
    font-family: "FontAwesome";
    color: #78829D;
    z-index: 67;
}

.watch-chart {
    font-size: 14px;
    font-family: "FontAwesome";
    color: #78829D;
    z-index: 71;
}

.star-chart {
    font-size: 14px;
    font-family: "FontAwesome";
    color: rgb(120, 130, 157);
    z-index: 63;
}

.side-panel_kategory {
    background: #1f2637;
    width: 100%;
    margin-top: 5px;
}

.side-panel_kategory li {
    font-size: 15px;
    color: #78829d;
    margin: 10px 20px 0px 25px;
}

.side-panel_kategory li::before {
    content: "\2022";
    font-size: 25px;
    font-weight: bold;
    padding-right: 15px;
}

.side-panel_kategory li:nth-child(1) {
    padding-top: 20px;
}

.side-panel_kategory li:last-child {
    padding-bottom: 20px;
}

.side-panel_kategory li:nth-child(1)::before {
    color: #e64c66;
}

.side-panel_kategory li:nth-child(2)::before {
    color: #ffab00;
}

.side-panel_kategory li:nth-child(3)::before {
    color: #00bfdd;
}

.side-panel_kategory li:nth-child(4)::before {
    color: #7874cf;
}

.side-panel_information {
    background: #1f2637;
    width: 100%;
    margin-top: 5px;
}

.side-panel_information ul {
    padding-bottom: 130px;
}

.side-panel_information li {
    display: flex;
    padding: 30px 25px 10px 25px;
}

.side-panel_information .watch-chart {
    display: block;
    height: 100%;
    padding-right: 15px;
}

.side-panel_information span {
    line-height: 20px;
    font-size: 12px;
    color: #434b60;
}

.side-panel_information span .side-panel_information_highlighted-keywords {
    color: #677b92;
}

.main-content_header__tools {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-content_header__tools___filter ul {
    display: flex;
    margin: 25px 0px 0px 20px;
}

.main-content_header__tools___filter li {
    margin: 0px 25px 15px 0px;
}

.main-content_header__tools___filter li button {
    background: none;
    width: 100%;
    border-radius: 20px;
    padding: 2px 12px 2px 12px;
    color: #a0a9c0;
    transition: 1s all;
}

.main-content_header__tools___filter li button:hover {
    color: #fff;
    background: #97b3ce;
}

.main-content_header__tools___filter li .item-filter-active {
    color: #fff;
    background: #97b3ce;
}

.main-content_header__tools___search {
    position: relative;
    display: flex;
    align-items: center;
}

.searchbar {
    font-size: 13px;
    width: 400px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 15.5px;
    padding-left: 20px;
    border: 1px solid #c9cfdc;
    color: #949eb7;
    transition: all 0.1s;
    transition-delay: 0.1s;
    margin-right: 20px;
}

.searchbar::placeholder {
    color: #949eb7;
}

.magnifying-glass-chart {
    font-family: "FontAwesome";
    position: absolute;
    top: 37%;
    right: 30px;
    font-size: 14px;
    color: #78829D;
    z-index: 196;
    cursor: pointer;
    transition: all .1s;
    transition-delay: .1s;
}

.main-content_book-list-block {
    width: 100%;
    height: calc(100vh - 45px);
    background: #fff;
    overflow-y: scroll;
}

.main-content_book-list-block::-webkit-scrollbar {
    width: 6px;
}

.main-content_book-list-block::-webkit-scrollbar-thumb {
    background: #ccd5e4;
    border-radius: 2.5px;
    margin-right: 6px;
}

.main-content_book-list-block__row-books {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 30px 20px 0px 20px;
}

.main-content_book-list-block__row-books___item {
    width: 220px;
    height: 370px;
}

.main-content_book-list-block__row-books___item____img-block {
    width: 100%;
    height: 275px;
    background: #97b3ce;
    border-radius: 4px;
}

.main-content_book-list-block__row-books___item____img-block img {
    width: 100%;
    height: 100%;
}

.main-content_book-list-block__row-books___item h4 {
    color: #444c63;
    font-size: 16px;
    margin-top: 15px;
}

.main-content_book-list-block__row-books___item span {
    display: block;
    font-size: 12px;
    color: #6f7d95;
    margin: 11px 0px 12px 0px;
}

footer {
    height: 45px;
}

.footer-links {
    background: #181e2c;
    width: calc(100% - 110px);
    height: 45px;
    border-radius: 0px 0px 0px 5px;
}

.footer-tools {
    display: flex;
    width: 110px;
    height: 45px;
}

.question-field {
    background: #1f2637;
    padding: 15px 21px 15px 20px;
}

.question-field_chart {
    background: none;
}

.options-field {
    background: #15a4fa;
    padding: 15px 20px 15px 21px;
    border-radius: 0px 0px 5px 0px;
}

.options-field_chart {
    background: none;
}